In [46]:
import pandas as pd

In [55]:
news = pd.read_excel("../../kor_dataset/3_문어체_뉴스(1)_200226.xlsx", header=None)
cdf = pd.read_excel("../../kor_dataset/2_대화체.xlsx", header=None)
print(news.shape, cdf.shape)
news.head()

(200012, 9) (100001, 7)

,0,1,2,3,4,5,6,7,8
0,ID,날짜,자동분류1,자동분류2,자동분류3,URL,언론사,원문,번역문
1,20961563,2018-10-01 00:00:00,"경제,국제경제","IT_과학,IT_과학일반","문화,문화일반",http://www.sedaily.com/NewsView/1S5QRSR5T2,서울경제,스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.,Skinner's reward is mostly eye-watering.
2,20930897,2018-09-14 00:00:00,"IT_과학,IT_과학일반",NaN,NaN,http://www.sedaily.com/NewsView/1S4MSFM0IH,서울경제,심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.,Even some problems can be predicted.
3,20307875,2019-04-19 00:00:00,"IT_과학,과학",NaN,NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.,Only God will exactly know why.
4,20314977,2019-04-27 00:00:00,"국제,중국","경제,국제경제",NaN,http://news.kmib.co.kr/article/view.asp?arcid=...,국민일보,중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.,Businesses should not overlook China's dispute.

In [66]:
news_df = news.iloc[1:, 7:]
conv_df = cdf.iloc[1:, 5:]
print(news_df.shape, conv_df.shape)
news_df.head()

(200011, 2) (100000, 2)

,7,8
1,스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.,Skinner's reward is mostly eye-watering.
2,심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.,Even some problems can be predicted.
3,오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.,Only God will exactly know why.
4,중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.,Businesses should not overlook China's dispute.
5,박자가 느린 노래는 오랜 시간이 지나 뜨는 경우가 있다.,Slow-beating songs often float over time.

In [67]:
conv_df.head()

,5,6
1,이번 신제품 출시에 대한 시장의 반응은 어떤가요?,How is the market's reaction to the newly rele...
2,판매량이 지난번 제품보다 빠르게 늘고 있습니다.,The sales increase is faster than the previous...
3,그렇다면 공장에 연락해서 주문량을 더 늘려야겠네요.,"Then, we'll have to call the manufacturer and ..."
4,"네, 제가 연락해서 주문량을 2배로 늘리겠습니다.","Sure, I'll make a call and double the volume o..."
5,지난 회의 마지막에 논의했던 안건을 다시 볼까요?,Shall we take a look at the issues we discusse...

In [68]:
news_df.columns = ["kor", "eng"]
conv_df.columns = ["kor", "eng"]
news_df = news_df[["eng", "kor"]]
conv_df = conv_df[["eng", "kor"]]
print(news_df.shape, conv_df.shape)
news_df.head()

(200011, 2) (100000, 2)

,eng,kor
1,Skinner's reward is mostly eye-watering.,스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.
2,Even some problems can be predicted.,심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.
3,Only God will exactly know why.,오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.
4,Businesses should not overlook China's dispute.,중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.
5,Slow-beating songs often float over time.,박자가 느린 노래는 오랜 시간이 지나 뜨는 경우가 있다.

In [69]:
conv_df.head()

,eng,kor
1,How is the market's reaction to the newly rele...,이번 신제품 출시에 대한 시장의 반응은 어떤가요?
2,The sales increase is faster than the previous...,판매량이 지난번 제품보다 빠르게 늘고 있습니다.
3,"Then, we'll have to call the manufacturer and ...",그렇다면 공장에 연락해서 주문량을 더 늘려야겠네요.
4,"Sure, I'll make a call and double the volume o...","네, 제가 연락해서 주문량을 2배로 늘리겠습니다."
5,Shall we take a look at the issues we discusse...,지난 회의 마지막에 논의했던 안건을 다시 볼까요?

In [70]:
total_df = pd.concat([news_df, conv_df], axis=0)
print(total_df.shape)
total_df.head()

(300011, 2)

,eng,kor
1,Skinner's reward is mostly eye-watering.,스키너가 말한 보상은 대부분 눈으로 볼 수 있는 현물이다.
2,Even some problems can be predicted.,심지어 어떤 문제가 발생할 건지도 어느 정도 예측이 가능하다.
3,Only God will exactly know why.,오직 하나님만이 그 이유를 제대로 알 수 있을 겁니다.
4,Businesses should not overlook China's dispute.,중국의 논쟁을 보며 간과해선 안 될 게 기업들의 고충이다.
5,Slow-beating songs often float over time.,박자가 느린 노래는 오랜 시간이 지나 뜨는 경우가 있다.

In [71]:
with open ("../.data/ai_hub/total_eng.txt", "w", encoding="utf-8") as ef:
    for line in total_df["eng"]:
        ef.write(f"{line}\n")
with open("../.data/ai_hub/total_kor.txt", "w", encoding="utf-8") as kf:
    for line in total_df["kor"]:
        kf.write(f"{line}\n")